# Environment
.env

# Database
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
build/
dist/
wheels/
*.egg-info/
